@model C_R_M.Models.Correo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Correo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Correo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto1.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Correo }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
