@model C_R_M.Models.ServicioEmpresa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Servicio Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Creacion) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renovacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renovacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa1.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Servicio_Empresa }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
